CommunityGenerousity/CommunityGenerousity/CommunityGenerousity/Service References/CCCServiceReference/CaringCookieClubService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CaringCookieClubWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CaringCookieClubWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="activityWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="actName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activity_id" type="xs:int" />
      <xs:element minOccurs="0" name="datePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="picture_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipient_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipient_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="upvotes" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="activityWCF" nillable="true" type="tns:activityWCF" />
  <xs:complexType name="profileWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="bio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_joined" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastUpvote" type="xs:dateTime" />
      <xs:element minOccurs="0" name="picture_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="profileWCF" nillable="true" type="tns:profileWCF" />
  <xs:complexType name="ArrayOfactivityWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activityWCF" nillable="true" type="tns:activityWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfactivityWCF" nillable="true" type="tns:ArrayOfactivityWCF" />
  <xs:complexType name="ArrayOfprofileWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profileWCF" nillable="true" type="tns:profileWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprofileWCF" nillable="true" type="tns:ArrayOfprofileWCF" />
  <xs:complexType name="ArrayOfcommentWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="commentWCF" nillable="true" type="tns:commentWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcommentWCF" nillable="true" type="tns:ArrayOfcommentWCF" />
  <xs:complexType name="commentWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="act_id" type="xs:int" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_posted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="commentWCF" nillable="true" type="tns:commentWCF" />
</xs:schema>